.popup {
  padding: 34px 37px;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-color-light);
  border-radius: 10px;
  box-sizing: border-box;
  position: relative;
}

@media screen and (max-width: 557px){
  .popup {
    padding: 25px 22px;
  }
}
