.popup {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color-overlay);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.6s, opacity 0.6s;
  box-sizing: border-box;
}

@media screen and (max-width: 557px) {
  .popup {
    padding: 25px 22px;
  }
}
