.page{
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0;
  padding-top: 45px;
  display: flex;
  flex-direction: column;
  font-family: 'Inter', Arial, sans-serif;
  box-sizing: border-box;
  background: var(--background-color_black);
}

@media screen and (max-width: 320px){
  .page{
    padding: 0;
  }
}
