.gallery {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, min-content));
  justify-content: center;
  column-gap: 17px;
  row-gap: 20px;
  list-style: none;
}

@media screen and (max-width: 320px){
  .gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
