.page {
  padding: 0;
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(min-content, max-content) 1fr minmax(min-content, max-content);
  background-color: var(--background-color-main);
  font-family: Inter, sans-serif;
  position: relative;
}

@media screen and (max-width: 320px){
  .page {
    max-width: 320px;
  }
}
