.page__header {
  max-width: 880px;
  margin: 0 auto;
  margin-bottom: 40px;
  margin-top: 45px;
}

@media screen and (max-width: 950px){
  .page__header {
    margin: 0 15px;
    margin-bottom: 40px;
    margin-top: 45px;
  }
}

@media screen and (max-width: 320px){
  .page__header {
    margin-top: 0;
    margin-bottom: 42px;
  }
}
