.profile {
  display: grid;
  grid-template-columns: 120px 1fr 150px;
  grid-template-rows: 1fr;
  column-gap: 30px;
}

@media screen and (max-width: 690px){
  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 320px){
  .profile {
    align-items: start;
  }
}
