.footer__copyright {
  font-size: 18px;
  font-weight: 400;
  color: var(--text-color-medium);
  text-decoration: none;
  transition: color .3s linear;
}

.footer__copyright:hover {
  color: var(--text-color-light);
}

@media screen and (max-width: 320px){
  .footer__copyright {
    margin-left: 19px;
    font-size: 14px;
  }
}
