.popup__header {
  padding: 0;
  margin: 0;
  margin-bottom: 42px;
  font-size: 24px;
  font-weight: 900;
  line-height: 24px;
}

@media screen and (max-width: 557px){
  .popup__header {
    margin-bottom: 61px;
    font-size: 18px;
  }
}
