.overlay {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color-overlay);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  visibility: hidden;
}
