.profile__container {
  margin-top: 21px;
  width: min-content;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: minmax(min-content, 550px) 24px;
  grid-template-rows: 1fr 1fr;
  column-gap: 18px;
  row-gap: 10px;
}

@media screen and (max-width: 528px){
  .profile__container {
    margin-left: 65px;
    margin-bottom: 33px;
    gap: 11px;
  }
}
