.about-person{
  width: 100%;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: 120px 1fr 150px;
  column-gap: 34px;
}

@media screen and (max-width: 676px){
  .about-person{
    margin-bottom: 36px;
    display: flex;
    flex-direction: column;
    justify-self: center;
  }
}
