.person__profession{
  margin: 0;
  padding: 0;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: var(--font-color_white);
}

@media screen and (max-width: 320px){
  .person__profession{
    margin-left: 16px;
    font-size: 14px;
    line-height: 17px;
  }
}
