.profile__name {
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  max-width: 550px;
  font-size: 42px;
  font-weight: 500;
  line-height: 48px;
  color: var(--text-color-light);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 528px){
  .profile__name {
    margin: 0;
    font-size: 27px;
  }
}
