.profile__name {
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 500px;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  font-size: 42px;
  font-weight: 500;
  line-height: 48px;
  color: var(--text-color-light);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 528px){
  .profile__name {
    margin: 0;
    font-size: 27px;
  }
}
