.profile__edit-btn {
  padding: 0;
  margin: 0;
  margin-bottom: 22px;
  width: 24px;
  height: 24px;
  border: 1px solid var(--text-color-light);
  background: transparent url("../../../images/edit_icon.svg") center no-repeat;
  font-size: 0;
  position: relative;
  opacity: 1;
  transition: opacity .3s linear;
}

.profile__edit-btn:hover {
  opacity: .6;
  cursor: pointer;
}

@media screen and (max-width: 528px){
  .profile__edit-btn {
    margin-bottom: 17px;
    width: 18px;
    height: 18px;
  }
}

