.gallery__like{
  width: 22px;
  height: 19px;
  padding-top: 28px;
  align-self: start;
  background: url("../../../images/heart.svg") center no-repeat;
  border: none;
  font-size: 0;
}

.gallery__like:hover{
  opacity: 0.5;
  cursor: pointer;
}
