.person__name{
  margin: 0;
  padding: 0;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  color: var(--font-color_white);
}

@media screen and (max-width: 320px){
  .person__name{
    margin-left: 5px;
    margin-bottom: 8px;
    font-size: 27px;
    line-height: 33px;
  }
}
