@import "../vendor/normalize.css";
@import "../vendor/variables.css";
@import "../vendor/fonts.css";

@import "../blocks/page/page.css";
@import "../blocks/page/__header/page__header.css";
@import "../blocks/page/__main/page__main.css";
@import "../blocks/page/__footer/page__footer.css";

@import "../blocks/header/header.css";

@import "../blocks/logo/logo.css";
@import "../blocks/logo/__image/logo__image.css";

@import "../blocks/main/main.css";
@import "../blocks/main/__profile/main__profile.css";
@import "../blocks/main/__gallery/main__gallery.css";

@import "../blocks/profile/profile.css";
@import "../blocks/profile/__avatar/profile__avatar.css";
@import "../blocks/profile/__container/profile__container.css";
@import "../blocks/profile/__name/profile__name.css";
@import "../blocks/profile/__about/profile__about.css";
@import "../blocks/profile/__edit-btn/profile__edit-btn.css";
@import "../blocks/profile/__add-btn/profile__add-btn.css";

@import "../blocks/gallery/gallery.css";

@import "../blocks/card/card.css";
@import "../blocks/card/__image/card__image.css";
@import "../blocks/card/__description/card__description.css";
@import "../blocks/card/__like-btn/card__like-btn.css";
@import "../blocks/card/__like-btn/_active/card__like-btn_active.css";

@import "../blocks/footer/footer.css";
@import "../blocks/footer/__copyright/footer__copyright.css";

@import "../blocks/overlay/overlay.css";

@import "../blocks/popup/popup.css";
@import "../blocks/popup/__header/popup__header.css";
@import "../blocks/popup/__form/popup__form.css";
@import "../blocks/popup/__input/popup__input.css";
@import "../blocks/popup/__submit-btn/popup__submit-btn.css";
@import "../blocks/popup/__close-btn/popup__close-btn.css";
