.footer{
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

@media screen and (max-width: 580px){
  .footer{
    padding: 0 19px;
  }
}

@media screen and (min-width: 896px){
  .footer{
    max-width: 880px;
  }
}
