.card__delete-btn {
  padding: 0;
  margin: 0;
  width: 18px;
  height: 19px;
  font-size: 0;
  background: transparent url("/images/trash_icon.svg") center no-repeat;
  background-size: 18px 19px;
  border: none;
  outline: none;
  position: absolute;
  top: 20px;
  right: 20px;
  opacity: 1;
  transition: opacity .3s linear;
}

.card__delete-btn:hover {
  opacity: .5;
  cursor: pointer;
}
