.popup__close-btn {
  padding: 0;
  margin: 0;
  width: 35px;
  height: 35px;
  position: absolute;
  top: -33px;
  right: -32px;
  font-size: 0;
  border: none;
  background: transparent url("../../../images/close_icon.svg") center no-repeat;
  background-size: 35px 35px;
}

.popup__close-btn:hover {
  cursor: pointer;
}

@media screen and (max-width: 557px){
  .popup__close-btn {
    width: 20px;
    height: 20px;
    top: -33px;
    right: 0;
    background-size: 20px 20px;
  }

}
