.popup__submit{
  width: 100%;
  height: 50px;
  margin-top: 31px;
  border: none;
  border-radius: 2px;
  outline: none;
  background-color: var(--background-color_black);
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: var(--font-color_white);
}

.popup__submit:hover{
  opacity: 0.8;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

@media screen and (max-width: 560px){
  .popup__submit{
    width: 238px;
    height: 46px;
    margin-top: 31px;
    font-size: 14px;
    line-height: 17px;
  }
}
