.popup__error-text{
  display: block;
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: var(--font-color_red);
}

.popup__error-text:last-child{
  margin-bottom: 0;
}
